<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Album</title>
</head>
<body>
    <h2>Actualiza Album</h2>


    <form  action="{{ url_for('actualizar', id=album.0) }}" method="post">
        <input type="text" name="TxtTitulo" placeholder="Titulo" value="{{ album.1 }}">
        {% if errores and 'TxtTitulo' in errores %}
            <p class="error">{{ errores['TxtTitulo'] }}</p>
        {% endif %}
        <input type="text" name="TxtArtista" placeholder="Artista" value="{{ album.2 }}">
        {% if errores and 'TxtArtista' in errores %}
            <p class="error">{{ errores['TxtArtista'] }}</p>
        {% endif %}
        <input type="number" name="TxtAnio" placeholder="Año de publicacion" value="{{ album.3 }}">
        {% if errores and 'TxtAnio' in errores %}
            <p class="error">{{ errores['TxtAnio'] }}</p>
        {% endif %}

        <button type="submit">Actualizar Album</button>
    </form>

    <br>
    <a href="/">Cancelar</a>
</body>
</html>